<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	 http://www.springframework.org/schema/beans 
	 http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context-3.1.xsd 
	 http://www.springframework.org/schema/tx
	 http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	 http://www.springframework.org/schema/security 
	 http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<context:component-scan base-package="br.com.ideais.estagio.dao" />

	<tx:annotation-driven />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="locations">
			<list>
				<value>
					file://${appconfig.root}/appconfig.properties
				</value>
			</list>
		</property>
	</bean>

	<bean id="beneficioAction" class="br.com.ideais.estagio.action.BeneficioAction"
		scope="prototype">
		<property name="beneficioService" ref="beneficioService" />
	</bean>
	<bean id="beneficioService" class="br.com.ideais.estagio.service.BeneficioService">
		<constructor-arg ref="beneficioDao" />
	</bean>

	<bean id="etapasAction" class="br.com.ideais.estagio.action.EtapaAction"
		scope="prototype">
		<property name="etapasService" ref="etapasService" />
	</bean>
	<bean id="etapasService" class="br.com.ideais.estagio.service.EtapaService">
		<constructor-arg ref="etapaDao" />
	</bean>

	<bean id="feitosAction" class="br.com.ideais.estagio.action.FeitosAction"
		scope="prototype">
		<property name="feitosService" ref="feitosService" />
	</bean>
	<bean id="feitosService" class="br.com.ideais.estagio.service.FeitosService">
		<constructor-arg ref="feitosDao" />
	</bean>

	<bean id="funcionarioAction" class="br.com.ideais.estagio.action.FuncionarioAction"
		scope="prototype">
		<property name="funcionarioService" ref="funcionarioService" />
	</bean>
	<bean id="funcionarioService" class="br.com.ideais.estagio.service.FuncionarioService">
		<constructor-arg ref="funcionarioDao" />
	</bean>


	<bean id="loginAction" class="br.com.ideais.estagio.action.UsuarioAction">
		<property name="usuarioService" ref="usuarioService" />
	</bean>
	<bean id="loginService" class="br.com.ideais.estagio.service.UsuarioService"
		scope="prototype">
		<constructor-arg ref="usuarioDao" />
	</bean>

	<import resource="data-context.xml" />

</beans>